#include "resource.h"

RES_SU				BINARY		".\\Resources\\su.bin"
RES_SU_MIPS 		BINARY		".\\Resources\\su_mips.bin"
RES_SU_PIE			BINARY		".\\Resources\\su_pie.bin"
RES_SU_x86			BINARY		".\\Resources\\su_x86.bin"
RES_ZMASTER2		BINARY		".\\Resources\\zmaster2.bin"
RES_ZMASTER2_MIPS	BINARY		".\\Resources\\zmaster2_mips.bin"
RES_ZMASTER2_PIE	BINARY		".\\Resources\\zmaster2_pie.bin"
RES_ZMASTER2_x86	BINARY		".\\Resources\\zmaster2_x86.bin"
RES_TR				BINARY		".\\Resources\\tr.bin"
RES_VR 				BINARY		".\\Resources\\vr.bin"
RES_HACKED_XML		BINARY		".\\Resources\\hacked_AndroidManifest_xml.bin"
RES_BLACK_APK		BINARY		".\\Resources\\blank_apk.bin"
RES_FRAMA_APK		BINARY		".\\Resources\\frama_apk.bin" 